<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0, minimal-ui" />
        <link rel="stylesheet" type="text/css" href="../css/styles.css" />
        <title>Confirmed!</title>
    </head>
    <body>
        <div class='main'>
            <header class='header'>
                <h1 class='header-logo'>Air Slingshot</h1>
            </div>
            <div class="content confirmation">
                <div class="user">
                    <p class="message"> ooops!</p>
                    <p class ='message'> We couldn't find your info</p>
                    <p class = 'message'> are you sure it's right? did you even book?</p>
                    <p class="message"> <a href="/seat-select">click here to go back</a> </p> 
                </div>
        </div>
        <p class='footer-logo'>The only way to fly!</p>
        <script src="./view-reservation.js"></script>
    </body>
</html>